body{
    height : 100vh ;
    width : 100vw ;
    font-family : monospace;
    color : white ;
    background-color: black;
}
.main{
    animation-name: ani5 ;
    animation-duration: 1s ;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
img{
    height : 90% ;
    width : 90%; 
    border : 0.5% solid black ; 
    border-radius : 5% ;
    animation-name: ani5 ;
    animation-duration: 1s ;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
header > div{
    height : 100% ;
    width : 80% ;
    margin : 1% 8% ;
    font-size : 100% ;
    background-color : rgb(255, 255, 255 , 0.2);
    border : 2px solid black ;
    border-radius : 15px ;
}
header > div > p{
    height : 100% ;
    width : 98% ;
    margin : 1% ;
    font-size : 150% ;
    text-align: center;
}
header  p:hover{
    animation-name: shadow;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
main{
    height : 70% ;
    width : 100% ;
    display : flex ;
}
section{
    height : 100% ;
    width : 100% ;
    display : flex ;
    flex-direction : column ;
    justify-content: space-evenly;
}
align{
    height : 100% ;
    width : 60% ;
}
footer{
    height : 10% ;
    width : 100% ;
}
.box{
    height : 50% ;
    width : 33.33% ;
}
.container{
    height : 100% ;
    width : 100% ;
    display : flex ;
    flex-wrap : wrap ;
    justify-content : space-evenly;
}
.main{
    height : 90% ;
    width : 90% ;
    margin  : 5% ;
    box-sizing: border-box;
    padding : 5% ;
    background-color : rgb(255, 255, 255 , 0.2);
    border : 2px solid black ;
    border-radius : 15px ;
}
footer{
    height : 10% ;
    width : 80% ;
    margin : 5% 8% ;
}
footer > h3{
    margin : 5% ,8% ;
    text-align : center ;
    background-color : rgb(255, 255, 255 , 0.2);
}
.box1:hover{
    animation-name: ani1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.box2:hover{
    animation-name: ani2;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
header > div:hover{
    animation-name: ani3;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
footer > h3:hover{
    animation-name: ani3;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
button:active{
    animation-name: ani4;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
@keyframes ani1{
    0%{
        box-shadow : 0% 0% ;
    }
    100%{
        box-shadow : 0px 0px 10px burlywood;
    }
}
@keyframes ani2{
    0%{
        box-shadow : 0% 0% ;
    }
    100%{
        box-shadow : 0px 0px 10px pink;
    }
}
@keyframes ani3{
    0%{
        box-shadow : 0% 0% ;
    }
    100%{
        box-shadow : 0px 0px 10px white;
    }
}
@keyframes ani4{
    0%{
        background-color : black;
        color : white ;
    }
    100%{
        background-color : black;
        color : white ;
    }
}
@keyframes ani5{
    0%{
        rotate : 30deg ;
    }
    100%{
        rotate : 0deg ;
    }
}
@media (max-width : 1000px){
    main{
        height : 400vh ;
        width : 100vw ;
        flex-direction : column ;
        align-items : center ;
    }
    img{
        height : 80% ;
    }
    .container{
        flex-direction : column ;
        flex-wrap : nowrap;
        align-items: center;
    }
    .box{
        height : 70% ;
        width : 80% ;
    }
}

